@model OnlineAppleShoppingStore.Models.Order
@{
    ViewBag.Title = "Address And Payment";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
@using (Html.BeginForm())
{
    <div class="weird">
        <h2>Order and Payment</h2>
        <fieldset>
            <legend>Order details</legend>
            @Html.EditorForModel()
        </fieldset>
        <input type="submit" value="Submit Order" />
    </div>
}