
@{
    ViewBag.Title = "Dashboard";
}

<h2 class="text-center">Management Dashboard </h2>
<div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Users", "Users", "Administration", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Roles", "Roles", "Administration", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("UserRoles", "UserRoles", "Administration", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li></li>
        <li></li>
    </ul>
</div>
    Users
    Roles
    Claims
    ...etc

