
@{
    ViewBag.Title = "Map";
}

<h2 class="text-center">User localization map</h2>

<div id="dvMap" style="width: 500px; height: 500px">
</div>


@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=API_Key"></script>
    <script type="text/javascript" src="~/Scripts/LocationMap/Map.js"></script>
}
