@{
    ViewBag.Title = "Welcome";
}
<div class="slider hidden-xs">
    <ul class="rslides">
        <img src="~/Content/Images/apple.jpg" width="1200" Height="340" alt="" />
    </ul>
</div>
<br />
<h3 class="text-center">Click on a category below to get started</h3>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/Dashboard/Index/1">
                <h2>IPhone</h2>
                <img src="~/Content/Images/iphone.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/Dashboard/Index/2">
                <h2>IPad</h2>
                <img src="~/Content/Images/ipad.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="categorywrap">
            <a href="~/Dashboard/Index/3">
                <h2>MacBook</h2>
                <img src="~/Content/Images/macbook.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="categorywraplast">
            <a href="~/Dashboard/Index/4">
                <h2>IPod </h2>
                <img src="~/Content/Images/ipod.jpg" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="categorywraplast">
            <a href="~/Dashboard/Index/5">
                <h2>Accesories </h2>
                <img src="~/Content/Images/ipod.jpg" alt="" />
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/HomePage/LoadImages.js"></script>
    <script type="text/javascript" src="~/Scripts/HomePage/DateFormat.js"></script>
}
