@model OnlineAppleShoppingStore.Web.Models.Category
@{
    ViewBag.Title = @Model.Name;
}

<br />
<br />
<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "IPhone")
            {
                <li class="active">
                    <a href="~/Dashboard/Index/1">IPHONE</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Dashboard/Index/1">IPHONE</a>
                </li>
            }
            @if (Model.Name == "IPad")
            {
                <li class="active">
                    <a href="~/Dashboard/Index/2">IPAD</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Dashboard/Index/2">IPAD</a>
                </li>
            }
            @if (Model.Name == "MacBook")
            {
                <li class="active">
                    <a href="~/Dashboard/Index/3">MACBOOK</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Dashboard/Index/3">MACBOOK</a>
                </li>
            }
            @if (Model.Name == "IPod")
            {
                <li class="active">
                    <a href="~/Dashboard/Index/4">IPOD</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Dashboard/Index/4">IPOD</a>
                </li>
            }
            @if (Model.Name == "Accesories")
            {
                <li class="active">
                    <a href="~/Dashboard/Index/5">ACCESORIES</a>
                </li>
            }
            else
            {
                <li>
                    <a href="~/Dashboard/Index/5">Accesories</a>
                </li>
            }

        </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div class="thumbnail">
                        <img class="img-responsive" src="~/Content/Images/ProductsSale/@(product.Name).png">
                        <div class="caption text-center">
                            <p>
                                <b>Name:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@product.Price USD</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = product.Id }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

