@{
    ViewBag.Title = "BarChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="~/Content/Statistics/BarChart.css">
</head>

<label><input type="checkbox"> Sort values</label>
<script type="text/javascript" src="~/Scripts/Statistics/BarChart.js"></script>