@model OnlineAppleShoppingStore.Models.Statistics
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/d3pie.min.js"></script>

<div class="row">
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="pieChart2">
        </div>
    </div>

    <div class="col-lg-4">
        <div id="pieChart">
        </div>
    </div>
</div>


@*scripts*@
@*scripts*@

<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Nr of Orders
        </th>
    </tr>

    @foreach (var item in Model.OrderData)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.Count
            </td>
        </tr>
    }
</table>