<label><input type="checkbox"> Sort values</label>
<svg class="chart"></svg>

<head>
    <link rel="stylesheet" href="~/Content/Statistics/Chart.css">
</head>

<script type="text/javascript" src="~/Scripts/Statistics/TestChart.js"></script>
